body {
  margin: 0;
  background: #ebeef1;
}

.container {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

.contentAdd, .content {
  font-size: 100%;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  resize: none;
  width: 100%;
  height: 10%;
  min-height: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #ddd solid;
  outline: none;
  font-family: sans-serif;
}

.content {
  height: 90%;
  min-height: 90%;
}

.content br {
  display: block;
  line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  .contentAdd {
    padding-top: 5px !important;
  }
}

#printable {
  display: none;
}

@media print {
  .container {
    display: none;
  }

  #printable {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.wordwrap {
  /* used for the view functionality */
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.footer {
  font-size: 100%;
  font-family: monospace;
  position: absolute;
  bottom: 0;
  left: 20px;
  text-align: left;
}

@media print {
  .footer {
    display: none;
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  min-width: 100px;
  background-color: #ebeef1;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1px 5px;
  text-decoration: underline;
}

.navbar a:hover {
  /*background-color: #ddd;*/
  color: black;
}

.navbar a.active {
  color: black;
}
